/* design system  */
:root{
/* COLORS */
    --black:#151515;
    --green:#4ee1a0;
    --dark-grey:#242424;
    --grey:#d4d4d4;
    --white:#ffffff;
    --invalid:#ff6f5b;
}

@font-face{
    font-family:"SpaceGrotesk";
    src:url(/starter-code/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf) format(ttf);
    font-weight:medium;
}

@font-face{
    font-family:"SpaceGrotesk";
    src:url(/starter-code/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf) format(ttf);
    font-weight:bold;
}

/* global styles */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    line-height: 1.3;
    font-size:100%;
    font-family:"SpaceGrotesk";
    background-color:var(--black);
}

.logo{
    color:var(--white);
}

h1,h2,h3,h4,h5,h6{
    color:var(--white);
}

p{
    color:var(--grey);
}

.center{
    text-align:center;
}

/* end of global styles */

